.menuContainer {
  min-width: 268px;
  height: 100vh;
  padding: 24px 0 0 32px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 5px rgba(2, 0, 96, 0.25);
  overflow: auto;
  .menu {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #1C1C1E;
    margin-bottom: 32px;
  }
  .links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 150px;
    .link {
      display: flex;
      text-decoration: none;
      img {
        margin-right: 16px;
      }
      div {
        align-self: center;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #1C1C1E;
      }
    }
    .linkActive {
      display: flex;
      text-decoration: none;
      width: 100%;
      &:after {
        content: "";
        width: 3px;
        background: #4F27BF;
        border-radius: 3px 0 0 3px;
      }
      img {
        margin-right: 16px;
      }
      div {
        width: 100%;
        align-self: center;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #1C1C1E;
      }
    }
  }
}
