@import 'src/styles/mixin.scss';
@import 'src/styles/variables.scss';

.container {
  margin-top: 32px;
  padding: 24px;
  box-shadow: 0 2px 8px rgba(2, 0, 97, 0.25);
  border-radius: 10px;

  .title{
    @include text(700, 26px, 32px, #000000);
    padding-bottom: 16px;
  }

  .item {
    @include text(500, 20px, 24px, #000000);
    padding: 16px 0;
    border-top: 1px solid #D7D7D7;
  }

}
