@import 'src/styles/mixin.scss';
@import 'src/styles/variables.scss';

.container {
  margin: 32px 32px 100px;

  .title {
    @include text(700, 26px, 32px, $textColor);
  }

  p {
    @include text(500, 20px, 24px, $textColor);
    margin: 16px 0 24px;
  }

  .search {
    display: flex;
    gap: 24px;
    input {
      @include text(500, 20px, 24px, $textColor);
      width: 100%;
      border: 3px solid $secondColor;
      border-radius: 10px;
      padding: 20px 21px;

      &:invalid {
        background: rgba(255, 0, 0, 0.22);
      }

    }

    button {
      @include text(700, 26px, 32px, $textButtonColor);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      padding: 19px 40px;
      background: $secondColor;
      border-radius: 10px;
      border: none;

    }

  }
}
@media (max-width: 768px) {
  .container {
    .search {
      flex-direction: column;

      input{
        width: auto;
      }
    }
  }
}
