@import 'src/styles/mixin.scss';
@import 'src/styles/variables.scss';

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $secondColor;

  .logo {
    display: flex;
    align-items: center;
    margin: 16px 32px;

    span {
      @include text(700, 20px, 24px, $textButtonColor);
      margin-left: 24px;
    }

  }

  .user {
    display: flex;
    align-items: center;
    margin: 16px 32px;

    span {
      @include text(700, 20px, 24px, $textButtonColor);
      margin-left: 16px;
    }

  }

}

@media (max-width: 768px) {
  .container {
    .user, .logo {
      span {
        display: none;
      }
    }
  }
}
